*~
*.dSYM
*src-i386/
*src-x86_64/
*.so
*.o
*.log
*.aux
*.dSYM/
*.vrb
*.bbl
Code/BLPackage-0.0-1.tgz
Code/BLPackage-0.0-2.tgz
Code/BLPackage-0.0-3.tgz
Code/BLPackage-0.0-4.tgz
.DS_Store
Code/C/Logit.h-12-01-23
Code/C/Logit.h-Joint-12-01-23
Code/C/Logit.hpp-12-02-27
Code/C/MultLogit.hpp-old
Code/C/test_logit
Code/C/test_pgpar
PDF/
